#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menu "Trace32 drivers"

config TRACE32_FDX
	bool
	default n
	---help---
		The Trace32 FDX driver.

config TRACE32_TERM
	bool
	default n
	---help---
		The Trace32 term driver.

config TRACE32_TERM_MEMORY_BLOCKED_SIZE
	hex "Trace32 Term up/down buffer size"
	depends on TRACE32_TERM
	range 0x100 0x3C00
	default 0x1000
	---help---
		The buffer block size for trace32 term up and down is used for
		the buffer size of the serial's own trace (tx) and trace (rx),
		and also for the size in the trace term protocol.

config DRIVERS_NOTET32FDX
	bool "Trace32 FDX Note driver"
	select DRIVERS_NOTE
	select TRACE32_FDX
	default n
	---help---
		The Note driver output to trace32 FDX.

if DRIVERS_NOTET32FDX

config DRIVERS_NOTET32FDX_FILTER_DEFAULT_MODE
	hex "Trace32 FDX Note driver filter mode"
	depends on SCHED_INSTRUMENTATION_FILTER
	default SCHED_INSTRUMENTATION_FILTER_DEFAULT_MODE
	---help---
		Filter mode for notefdx

config DRIVERS_NOTET32FDX_BUFSIZE
	int "Trace32 FDX Note driver buffer size"
	default 1024
	---help---
		The size of the FDX buffer (in bytes).

config DRIVERS_NOTET32FDX_CPUSET
	hex "Trace32 FDX Note driver CPU set"
	depends on SMP && SCHED_INSTRUMENTATION_FILTER
	default SCHED_INSTRUMENTATION_CPUSET
	---help---
		CPU set for notefdx

config DRIVERS_NOTET32FDX_SECTION
	string "Trace32 FDX Note driver section"
	default ""
	---help---
		The section in which to place the notefdx buffer.

endif # DRIVERS_NOTET32FDX

config STREAM_FDX
	bool "Stream to/from Trace32 FDX"
	select TRACE32_FDX
	default n
	---help---
		Use Segger Trace32 FDX as a stream output.

config SYSLOG_FDX
	bool "Log to Trace32 FDX"
	select TRACE32_FDX
	default n
	---help---
		Use Trace32 FDX as a SYSLOG output device.

config SYSLOG_FDX_BUFSIZE
	int "Trace32 FDX syslog driver buffer size"
	depends on SYSLOG_FDX
	default 1024
	---help---
		The size of the FDX syslog buffer (in bytes).

config SERIAL_T32TERM
	bool "Serial Device Trace32 Term"
	select TRACE32_TERM
	default n
	---help---
		Trace32 term protocol serial port

if SERIAL_T32TERM

config SERIAL_T32TERM_CONSOLE
	bool "Serial Device Trace32 Term Console"
	default n
	---help---
		Terminal based on the trace32 term protocol serial port

config SERIAL_T32TERM_POLLING_INTERVAL
	int "Trace32 Term serial pilling interval (us)"
	default USEC_PER_TICK
	---help---
		This option is used to configure the Trace32 term serial polling interval

endif # SERIAL_T32TERM

endmenu # Trace32 drivers
