#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config CPUFREQ
	bool "cpufreq"
	default n
	---help---
		CPUFREQ

if CPUFREQ

config CPUFREQ_PROCFS
	bool "cpufreq_procfs"
	default n
	depends on FS_PROCFS
	---help---
		CPUFREQ_PROCFS

if CPUFREQ_PROCFS

config CPUFREQ_PROCFS_QOS
	bool "Print cpufreq QOS request"
	default n
	---help---
		Print cpufreq QOS request

endif

choice
	prompt "CPUFREQ_DEFAULT_GOVERNOR"
	default CPUFREQ_DEFAULT_GOV_PERFORMANCE

config CPUFREQ_DEFAULT_GOV_PERFORMANCE
	bool "cpufreq_performance"
	---help---
		cpufreq_performance governor

config CPUFREQ_DEFAULT_GOV_POWERSAVE
	bool "cpufreq_powersave"
	---help---
		cpufreq_powersave governor

config CPUFREQ_DEFAULT_GOV_ONDEMAND
	bool "cpufreq_ondemand"
	---help---
		cpufreq_ondemand governor

config CPUFREQ_DEFAULT_GOV_QLEARNING
	bool "cpufreq_qlearning"
	depends on !ARCH_PERF_EVENTS && PM
	---help---
		cpufreq_qlearning governor

endchoice

if CPUFREQ_DEFAULT_GOV_ONDEMAND

config CPUFREQ_SAMPLE_RATE
	int "the default sample rate (us) to get the cpuload"
	default 1000000
	---help---
		Ondemand sample rate

config CPUFREQ_LOAD_THRESHOLD
	int "the default cpu load threshold up to max cpu freq"
	default 80
	---help---
		Ondemand cpu load threshold

endif

if CPUFREQ_DEFAULT_GOV_QLEARNING

config CPUFREQ_QLEARNING_WAIT_TIME
	int "the default wait time (ms) between two samples"
	default 100
	---help---
		wait time between two samples

config CPUFREQ_QLEARNING_INIT_WAIT_TIME
	int "the default wait time (ms) for system boot"
	default PM_GOVERNOR_EXPLICIT_RELAX
	---help---
		wait for system boot, then read the initial parameters. Reading
		file will fail if system boot is not finished.

config CPUFREQ_QLEARNING_INIT_FREQ
	int "the default initial freq(KHz)"
	default 100000
	---help---
		initial freq of cpufreq qlearning governor, before reading the
		parameters from file finished.

config CPUFREQ_QLEARNING_FILE_PATH
	string "File path of cpufreq qlearning parameters"
	default "/etc/cpufreq_qlearning_params.bin"
	---help---
		File path of cpufreq qlearning parameters

config CPUFREQ_QLEARNING_MIN_FREQ
	int "the default min cpu freq(KHz)"
	default 32
	---help---
		min freq of cpufreq qlearning governor, if current freq is lower
		than this value, qlearning algorithm will not run. It is a workaround
		to avoid high overhead cause by running algorithm at low frequency.

config CPUFREQ_QLEARNING_NEURONS_PER_LAYER
	int "number of neurons in each Q-learning layer"
	default 10
	---help---
		Number of neurons (or units) in each fully-connected layer of the
		Q-learning neural network. This also determines the size of weight
		matrices and bias vectors.

config CPUFREQ_QLEARNING_NUM_LAYERS
	int "number of layers in the Q-learning neural network"
	default 3
	---help---
		Number of fully-connected layers in the Q-learning neural network.
		More layers can model more complex policies but may increase
		computation and training time.

config CPUFREQ_QLEARNING_ACTION_OFFSET
	int "offset of action in the Q-learning neural network"
	default 0
	---help---
		This is the index of the first action in frequency table.
		When calculating the action, the index of the frequency is
		adjusted by this offset.

endif

endif
