#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

menuconfig AI_ENGINE
	bool "AI Engine Acceleration Support"
	default n
	---help---
		Drivers for various AI engine devices.

if AI_ENGINE

source "drivers/aie/ethosu/Kconfig"

endif # AI_ENGINE
